.howitworks__v1 .subtitle {
  background-color: rgba(var(--bs-secondary-rgb), 0.2);
  color: var(--bs-primary);
  display: inline-block;
  padding: 5px 12px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.howitworks__v1 .step-card {
  position: relative;
}

.howitworks__v1 .step-card .step-number {
  width: 60px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  background-color: var(--bs-primary);
  font-size: 18px;
}

.arch-connector {
  position: absolute;
  top: 10px;
  left: 50%;
  width: calc(100% + 1.5rem);
  /* column width + g-4 gap */
  height: 40px;
  z-index: 0;
  opacity: 0.8;
  pointer-events: none;
  overflow: visible;
}

@media (min-width: 1200px) {
  .arch-connector {
    width: calc(100% + 3rem);
    /* column width + g-xl-5 gap */
  }
}

@media (max-width: 991.98px) {
  .arch-connector {
    display: none !important;
  }
}

.step-number {
  color: #FFFFFF;
}

.dark-mode .step-number {
  color: #262626;
}